<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


   <form id="myForm" action="{{ url_for('add')}}" method="POST">
     
     <input type="text" name="status" STYLE="background-color: RED;"><br>
     
     
     <button class="button" id="but" type="submit" onclick="()=>{
    
     }"></button>
    </form>
    





</body>
</html>