<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">

  <div class="ilosc">
    {{first_name}}
  </div> 
<br>
   <form id="myForm" action="{{ url_for('add')}}" method="POST">
     
     <input type="text" name="status" STYLE="background-color: RED;" value="{{first_name | int +1 }}" ><br>
  
     <button  type="submit"></button>
     
    </form>
    
  </div>
   
    <script>

      const button = document.querySelector('button');
     
      button.addEventListener('mouseover', () => {  
      button.style.backgroundImage = 'url("../static/css/tommam.jpg")'
     
      });
      
    
      button.addEventListener('mouseout', () => {
       button.style.backgroundImage = 'url("../static/css/tom.jpg")';
       
      });
      button.addEventListener('click', () => {
      button.style.backgroundImage = 'url("../static/css/TOMKUR.jpg")';
     
      });
      button.addEventListener('touchstart', () => {
      button.style.backgroundImage = 'url("../static/css/tommam.jpg")';
      
      });
      button.addEventListener('touchend', () => {
      button.style.backgroundImage = 'url("../static/css/tom.jpg")';
      
      });

      </script>

</body>
</html>

